.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.mainh1 {
  text-align: left;
  font: normal normal 900 100px/120px Avenir;
  letter-spacing: 0px;
  color: #5861ae;
  text-transform: capitalize;
  opacity: 1;
}
.mainh2 {
  font-size: 32px;
  letter-spacing: 1.28px;
  color: #4552c1;
  text-transform: uppercase;
  opacity: 1;
}
.inputform {
  border: none;
  border-bottom: 1px solid #000000;
  background: #b9c0fd00 0% 0% no-repeat padding-box;
  border-radius: 0px;
  padding: 20px 0px;
}
.mainbut {
  background: #4552c1 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
  font-size: 15px;
  letter-spacing: 0.3px;
  color: #ffffff;
  text-align: center;
  margin-top: 34px;
}
.forgot {
  text-align: right;
  font-size: 16px;
  letter-spacing: 0.64px;
  color: #4552c1;
  text-transform: capitalize;
  opacity: 1;
}
.reg {
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
  padding: 100px;
}
.sig {
  background: #b9c0fd1a 0% 0% no-repeat padding-box;
  opacity: 1;
  padding: 100px;
}
.doorstep {
  text-align: left;
  font-size: 20px;
  letter-spacing: 0.8px;
  color: #565657;
  text-transform: capitalize;
  opacity: 1;
}
.haveacc {
  margin-top: 36px;
  font-size: 16px;
  letter-spacing: 0.64px;
  color: #565657;
  text-transform: capitalize;
  opacity: 1;
}
.regbtn {
  text-align: center;
  font: normal normal bold 15px/20px Open Sans;
  letter-spacing: 0.3px;
  color: #4552c1;
  border: 2px solid #4552c1;
  border-radius: 4px;
  opacity: 1;
  margin-top: 8px;
}
.img {
  width: 20px;
  height: 20px;
}
.main-head {
  background: #5861ae 0% 0% no-repeat padding-box;
  opacity: 1;
  height: 720px;
  width: 50px;
}
.createbtn {
  position: absolute;
  top: 50%;
  left: 50%;
}
.fontmain {
  color: #ffffff;
  font-size: 25px;
  padding: 15px;
}
.fontmain1 {
  color: #5861ae;
  font-size: 25px;
  padding: 15px;
  background-color: #ffffff;
}
.col-lg-12 {
  padding: 0px;
}
.has-search .form-control {
  padding-left: 2.375rem;
  border: none;
  border-bottom: 1px solid #000000;
  border-radius: 0px;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  border: none;

  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
.orderimg {
  height: 35px;
  width: 35px;
}
.maintable {
  margin-top: 30px;
}
.cancel {
  text-align: left;
  font-size: 14px;
  letter-spacing: 0px;
  color: #5861ae;
  border: 1px solid #5861ae;
  border-radius: 4px;
  opacity: 1;
}
.proceed {
  background: #5861ae 0% 0% no-repeat padding-box;
  border: 1px solid #5861ae;
  border-radius: 4px;
  margin-left: 20px;
  opacity: 1;
}
.but-com {
  text-align: right;
}
.modal-header {
  background: #5861ae 0% 0% no-repeat padding-box;
  opacity: 1;
  color: #ffffff;
}
.mainadd {
  background: #f4f9ff 0% 0% no-repeat padding-box;
  opacity: 1;
  padding: 30px 0px;
}
.modal {
  left: 60%;
}
.trcss {
  width: 100%;
  border-bottom: 1px solid gray;
  padding: 10px 0px;
}
.order-head {
  font: normal normal 600 14px/19px Open Sans;
  letter-spacing: 0.42px;
  color: #3b3737;
  opacity: 1;
  padding: 10px 0px;
}
.spamrate {
  font: normal normal 600 20px/27px Open Sans;
  letter-spacing: 0.48px;
  color: #5861ae;
  opacity: 1;
}
.rate-head {
  font: normal normal 600 16px/22px Open Sans;
  letter-spacing: 0.38px;
  color: #1b2734;
  opacity: 1;
  text-align: right;
}
.totalcss {
  background: #5861ae 0% 0% no-repeat padding-box;
  opacity: 1;
  letter-spacing: 0.53px;
  color: #ffffff;
  padding: 10px 0px;
}
.btncon {
  text-align: right;
}
.resetbtn {
  border: 1px solid #5861ae;
  border-radius: 4px;
  opacity: 1;
  padding: 0px 25px;
  font: normal normal 600 14px/48px Open Sans;
  letter-spacing: 0px;
  color: #5861ae;
}
.order-ava {
  letter-spacing: 0px;
  color: #222b45;
  opacity: 0.5;
}
.create-order {
  border: 1px solid #5861ae;
  border-radius: 4px;
  opacity: 1;
  font: normal normal 600 14px/48px Open Sans;
  letter-spacing: 0px;
  color: #5861ae;
  padding: 0px 25px;
}
.address-box {
  top: 700px;
  left: 549px;
  width: 236px;
  height: 85px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #5861ae;
  border-radius: 4px;
  opacity: 1;
}

.trbody {
  border-bottom: 1px solid #5861ae;
  padding-bottom: 5px;

  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
}

.address-text {
  top: 732px;
  left: 558px;
  width: 198px;
  height: 44px;
  text-align: left;
  font: normal normal normal 16px/22px Open Sans;
  letter-spacing: 0.16px;
  color: #3e3f40;
  opacity: 1;
}

.address-home {
  top: 706px;
  left: 558px;
  width: 54px;
  height: 24px;
  text-align: left;
  font: normal normal bold 18px/24px Open Sans;
  letter-spacing: 0.18px;
  color: #3e3f40;
  opacity: 1;
}

.add {
  top: 656px;
  left: 549px;
  width: 57px;
  height: 19px;
  text-align: left;
  font: normal normal 600 14px/19px Open Sans;
  letter-spacing: 0.42px;
  color: #3b3737;
  opacity: 1;
}

.order-details {
  top: 280px;
  left: 547px;
  width: 91px;
  height: 19px;
  text-align: left;
  font: normal normal 600 14px/19px Open Sans;
  letter-spacing: 0.42px;
  color: #3b3737;
  opacity: 1;
}

.T1 {
  top: 323px;
  left: 559px;
  width: 55px;
  height: 24px;
  text-align: left;
  font: normal normal normal 18px/24px Open Sans;
  letter-spacing: 0.43px;
  color: #1b2734;
  opacity: 1;
}

.T2 {
  top: 328px;
  left: 829px;
  width: 119px;
  height: 22px;
  text-align: left;
  font: italic normal normal 16px/22px Open Sans;
  letter-spacing: 0.38px;
  color: #1b2734;
  opacity: 1;
}

.T4 {
  top: 325px;
  left: 1205px;
  width: 62px;
  height: 22px;
  text-align: left;
  font: normal normal 600 16px/22px Open Sans;
  letter-spacing: 0.38px;
  color: #1b2734;
  opacity: 1;
}

.T5 {
  top: 323px;
  left: 1320px;
  width: 35px;
  height: 27px;
  text-align: left;
  font: normal normal 600 20px/27px Open Sans;
  letter-spacing: 0.48px;
  color: #5861ae;
  opacity: 1;
}

.modal-dialog {
  display: inline-block;
  vertical-align: middle;
}

.cancel_button {
  display: flex;
  justify-content: center;
  vertical-align: middle;
}
.itemsproceed {
  background: #5861ae 0% 0% no-repeat padding-box;
  border: 1px solid #5861ae;
  border-radius: 4px;
  opacity: 1;
  font: normal normal 600 14px/48px Open Sans;
  letter-spacing: 0px;
  color: #ffffff;
  padding: 0px 15px;
  margin-top: 13px;
}
.fatri {
  color: #f40808;
  opacity: 1;
  font-size: 30px;
}
.ordername {
  font: normal normal 600 14px/19px Open Sans;
  letter-spacing: 0.34px;
  color: #5861ae;
}
.card-columns {
  margin-right: 10px !important;
  width: 70%;
  display: inline-flex !important;
}
.confirm {
  display: flex;
  justify-content: flex-end !important;
}
.confirm_page {
  font-size: small;
}
.subtotal {
  float: right;
  width: 40%;
  margin-right: 30px;
  display: flex;
  justify-content: flex-end !important;
}
.menu {
  color: white;
  position: relative;
  margin-right: 50px;
  margin-left: auto;
}
